.pers-cabinet {
    &__section {
        padding: 25px 0;
        display: flex;
        flex-direction: column;
        top: 0;
    }
    &__profile-info {
        padding: 25px 0;
        display: flex;
        flex-direction: row;
        // transition: 0s;
        // height: calc(100% - 100px);
        justify-content: center;
        align-items: center;
    }
    &__ordered-section {
        padding: 10px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__photo {
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }
    &__info {
        margin-left: 20px;
        height: 200px;
        display: flex;
        flex-direction: column;
    }
}

.profile-info {
    &__container {

    }
    &__photo {

    }
    &__name-container,
    &__location-container,
    &__money-container {
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 200px;
        padding: 10px 0;
    }
    &__change-name-btn,
    &__change-location-btn,&__change-money-btn {
        padding: 2px 6px;
        border: 1px black solid;
        box-sizing: border-box;
    }
}

.change-name-form,
.change-form-location,
.change-form-money {
    display: flex;
    flex-direction: row;
    &__btn {
        border: 1px black solid;
        margin-left: 10px;
        padding: 2px 4px;
    }
}

.cab-info {
    &__name {

        &-inpur {

        }
    }
    &__location {

        &-input {

        }
    }
}