.order-slider {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.slider {
    &__title {
        align-self: center;
    }
    &__image-title {
        font-size: 40px;
        padding-left: 30px;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__btn-container {
        // bottom: 1%;
        // right: 1%;
        padding-right: 20px;
        padding-top: 20px;
    }
    &__btn {
        width: 20px;
        height: 20px;
        background-color: rgb(255, 255, 255);
        &:not(:last-child) {
            margin-right: 10px;
        }
        &-active {
            background-color: rgba(255, 0, 128, 0.753);
            pointer-events: none;
        }    
        &:hover  {
            background-color: aqua;
        }       
    }
    &__overlay-description {
        position: absolute;
        background-color: rgba(0, 255, 255, 0.788);
        width: 100%;
        height: 400px;
        top: 27px;
        left: 0;
        transform: translateX(101%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        overflow: auto;
        font-size: 20px;
        // height: 50px;
        // &:hover {
        // }
        // align-items: center;
    }
    &__image-container{
        // position: relative; 
    }
    &__image {
        width: 800px;
        height: 450px;
        // opacity: 0;
        // transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__title-btns-container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 0;
        background-color: rgba(0, 255, 255, 0.664);
    }
    &__btn-description {
        position: absolute;
        top: 8%;
        right: 2%;
        padding: 2px 5px;
        font-size: 17px;
        background-color: rgba(0, 255, 255, 0.664);
    }
}

.description {
    padding: 40px 30px 0 30px;
    // background-color: ;
}
.overlay-price {
    position: absolute;
    top: 3%;
    right: 23%;
}