*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}
button {
  border: none;
}

img {
  display: block;
}

input,
textarea {
  outline: none;
}
