:root {
  --black-color: #212121;
  --gray-color: #757575;
  --logo-color: #afb1b8;
  --active-link-color: #2196f3;
  --white-color: #ffffff;
  --blue-color: #0039f5;
  --header-color: #linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 100%);;
  --container-color: rgb(0, 109, 235);
  --body-color: rgb(17, 17, 17);
}
