<header class="header-section">
    <div class="header-container">
        <div class="logo-section">
            <img src="./images/logo.jpg" alt="logo" class="site-logo">
            Akvigi
        </div>
        <nav>
            <ul class="nav-list">
                <li class="nav-list__item"><button href="" class="nav-list__button">TourOrder</button></li>
                <li class="nav-list__item"><button href="" class="nav-list__button">Delivery</button></li>
                <li class="nav-list__item"><button href="" class="nav-list__button">Pokemons</button></li>
            </ul>
        </nav>
        <div>
            <button class="header__login-btn" id="login-btn">Login</button>
            <button class="header__login-btn is-hidden" id="logout-btn">Log out</button>
        </div>
        
    </div>
</header>