<section class="order-section" id="order-section">
    <div class = "order-slider" id="slider">
        <h1 class="slider__title">Available country tours</h1> 
        <div id="image-container" class="slider__image-container">
            <!-- <img class="slider__image" src="./images/ukraine.jpg" alt="Ukraine" loading="lazy"> -->
        </div>
        <div class="slider__overlay-description">
            <p class="description" id="country-description"></p>
            <p class="overlay-price">Price:<span id="overlay-price"></span></p>
        </div>
        <div class="slider__title-btns-container">
            <h2 class = "slider__image-title" id="image-title"></h2>
            <div class = "slider__btn-container" id="slider-btn-container">
                    <!-- <button class="slider__btn"></button> -->
            </div>
        </div>
        <button class="slider__btn-description" id="description-btn">Open discription</button>
    </div>
        <button class = "tour-btn" type="button" id="start-btn">
            Buy tour
        </button>
        <form action="submit" class="order-form is-hidden make-absolute" id="form-order">
            <p id="text-with-current-money-input"></p>
            <input type="number" class="order-form__input-current" id="current-money-input" placeholder="Throw me some numbers">
            <p id = "text-location-label">And your current location(optional)</p>
            <input type="text" class="order-form__input-current" id="current-location" placeholder="Type your country">
            <button class="order-form__submit" id="submit-money" type="submit">Next</button>
        </form>
        <ul class="available-country-list" id="country-list">
        </ul>
        <form class = "ordertour-confirmation__container is-hidden make-absolute" id="order-form-confirmation">
            <h2 class="ordertour-confirmation__title"></h2>
            <p class="ordertour-confirmation__price"></p>

            <p class="ordertour-confirmation__text">Pick start of the trip</p>
            <input class="ordertour-confirmation__time-picker" type="text" id="datetime-picker">
            
            <button class="ordertour-confirmation__button-submit" type="submit">Trip</button>
        </form>
</section>