<section class="pers-cabinet__section is-hidden make-absolute" id="pers-cabinet-section">
    <div class="pers-cabinet__profile-info">
        <img class="pers-cabinet__photo" src="./images/logo.jpg" alt="photo">
        <div class="pers-cabinet__info">
            <h2>Profile</h2>
            <p id="cab-name"></p>
            <form action="submit">
                <p>If you want, you can change your username</p>
                <input type="text">
                <button type="submit">Submit</button>
            </form>
            <p id="cab-location"></p>
            <form action="submit">
                <p>If you want, you can enter your location</p>
                <input type="text" name="" id="">
                <button>Submit</button>
            </form>
        </div>
    </div>
    <div class="pers-cabinet__ordered-section">
        <h1>Ordered tours</h1>
        <p>Seems empty</p>
    </div>
</section>